
<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Log in | Django site admin</title>
<link rel="stylesheet" href="/static/admin/css/base.css">

  <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
  <script src="/static/admin/js/theme.js" defer></script>


  <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" href="/static/admin/css/login.css">


    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" login"
  data-admin-utc-offset="0">
<a href="#content-start" class="skip-to-content-link">Skip to main content</a>
<!-- Container -->
<div id="container">
    
    <!-- Header -->
    <div id="header" style="background: linear-gradient(to right, #FB8B24, #E36414)">
        <div id="branding">
        <h1 id="site-name" style="background: linear-gradient(to right, #FB8B24, #E36414) color: white;"><b style="color: white;">Rest Password</b></a></h1>
        </div>
    </div>
    
    <!-- END Header -->
    <div class="main" id="main">
      <div id="content-start" class="content" tabindex="-1">
        <!-- Content -->
        <div id="content" class="colM">
      
          <form method="post" action="{% url 'reset_password' %}">
            {% csrf_token %}

            {% if invalid_password %}
              <div class="text-danger" style="color: red">Password is not the same. Please try again.</div>
            {% endif %}

            <div class="form-row form-outline">
              <div class="col">
                <label for="id_email" class="required">Email</label>
              </div>
            </div>
            <div class="form-row form-outline mb-4">
                <div class="col">
                  <input class="form-control" type="text" name="email" autofocus autocomplete="email" style="width: 96%;" maxlength="150" required id="id_email">
                </div>
            </div>

            <div class="form-row form-outline">
              <div class="col">
                <label for="id_password" class="required">New Password</label>
              </div>
            </div>
            <div class="form-row form-outline mb-4">
                <div class="col">
                  <input class="form-control" type="password" name="new_password" autocomplete="current-password" id="id_password" {% if invalid_password %}style="border-color: red;"{% endif %} >
                </div>
            </div>
            
            <div class="form-row form-outline">
              <div class="col">
                <label for="id_password" class="required">Confirm Password</label>
              </div>
            </div>
            <div class="form-row form-outline mb-4">
                <div class="col">
                  <input class="form-control" type="password" name="confirm_password" autocomplete="current-password" id="id_password" {% if invalid_password %}style="border-color: red;"{% endif %} >
                  {% if invalid_password %}
                  <div class="text-danger">Password is not same. Please try again.</div>
                  {% endif %}
                </div>
            </div>

            <div class="submit-row">
              <div class="row">
                <a href="{%  url 'admin_login' %}"><input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                  value="Cancel"
                  type="button"
                  style="align-items: center; background-color: white; color: black; border: 1px solid #FB8B24;"></a>
                <input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Confirm" style="background-color: red;">
              </div>
          </div>
          </form>

        </div>
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
</body>
</html>