{% extends 'base.html' %}

{% block content %}
<body>
    <div class="main">
        <div style="width: 100%; white-space: nowrap;">
            <!-- Left content -->
            <div style="width: 20%; height: 100%; background-color: whitesmoke; display: inline-block; vertical-align: top;">
                
                <div class="app-accounts module" style="overflow-x: auto; background-color: whitesmoke">

                    <caption style="background: linear-gradient(to right, #f2f2f2, #f2f2f2);">
                        <h2 style="background: linear-gradient(to right, #f2f2f2, #f2f2f2); font-size: 20px; font-weight: bold; color: #0d0c22; padding-left 20px: ; padding-top: 24px; padding-bottom: 24px;">Tables</h2>
                    </caption>

                    <table>
                        <thead>
                            {% for table_name in list_of_table %}
                            {% if not table_name|slice:":6" == 'django' and not table_name|slice:":5" == 'auth_' and not table_name|slice:":10" == 'authtoken_' %}
                            {% with trimmed_table_name=table_name|cut:"foodshare_" %}
                            <tr class="model-{{ table_name }}">
                                <th scope="row" style="text-transform: uppercase;">
                                    <a href="{% url 'view_data' table_name=table_name %}", style="font-size: 15px; padding-top: 8px;">{{ trimmed_table_name }}</a>
                                </th>
                                {% if trimmed_table_name == "users" %}
                                    <td>
                                        <a href="{% url 'add_new_user' table_name=table_name %}" class="addlink">Add</a>
                                    </td>
                                {% else %}
                                    <td>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endwith %}
                            {% endif %}
                            {% endfor %}
                        </thead>
                    </table>
                </div>
      
            </div>

            <!-- Right content -->
            <div style="width: 80%; height: 100%; background-color: white; display: inline-block; vertical-align: top;">
                <div style="width: 100%; display: flex; justify-content: space-between; padding: 8px;">
                    <!-- Left content -->

                    <div style="width: 100%; display: flex; padding: 8px;">
                        <!-- Left content (Table Name) -->
                        <div style="white-space: nowrap;">
                            {% with trimmed_table_name=table_name|cut:"foodshare_" %}
                                <h3 style="padding-left: 10px; color: black">{{ trimmed_table_name|title }}</h3>
                            {% endwith %}
                        </div>

                        <!-- Right content (Search field) -->
                        <div style="white-space: nowrap; padding-left: 20px; width: 350px;" class="group">
                            <input class="input" id="searchInput" type="search" placeholder="Search";/>
                        </div>
                    </div>

                    <!-- Right content (Sorting Button) -->
                    <div style="white-space: nowrap; padding-right: 20px; justify-content:center; padding-top: 8px;">
                        <tr>
                            <button class="sort-btn" id="sortButton" onclick="toggleSorting()">Sort By Ascending</button>
                        </tr>
                    </div>
                </div>

                <div style="overflow-x: auto;">
                    <table border="1">
                        <thead style="padding-top: 10px;">
                            <tr style="align-self: center;">
                                {% for column in columns %}
                                    <th>{{ column }}</th>
                                {% endfor %}

                                {% with trimmed_table_name=table_name|cut:"foodshare_" %}
                                {% if trimmed_table_name == "users" %}
                                    <th style="width: 70px;">Activate</th>
                                {% endif %}
                                    
                                {% endwith %}
                                
                                {% comment %} <th style="width: 70px;">Update</th> {% endcomment %}
                                <th style="width: 70px;">Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in data %}
                                <tr>
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                    {% if table_name == "foodshare_users" %}
                                    <td><button class="activate-btn"><a href="{% url "activate" row.0 %}" class="user-id">Activate</a></button></td>
                                    {% endif %}
                                    {% comment %} <td><button class="update-btn">Update</button></td> {% endcomment %}
                                    <td>
                                        <button class="delete-btn">
                                            <a href="{% url 'delete' table_name=table_name id=row.0 %}" class="user-id">Delete</a>
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>

        </div>
    </div>
</body>


    <script>
        // Ssearching function
        searchInput.addEventListener('input', function() {
            const searchValue = this.value.trim().toLowerCase(); // Convert search value to lowercase for case-insensitive search
            const rows = document.querySelectorAll('tbody tr'); // Get all table rows
            rows.forEach(row => {
                const rowData = row.textContent.toLowerCase(); // Get text content of the row and convert to lowercase
                if (rowData.includes(searchValue)) {
                    row.style.display = ''; // If row matches the search value, display it
                } else {
                    row.style.display = 'none'; // If row does not match the search value, hide it
                }
            });
        });

        // Sorting function
        let isAscending = true; // Variable to track sorting state
        // Function to toggle sorting between ascending and descending order
        function toggleSorting() {
            isAscending = !isAscending; // Toggle sorting state
            const button = document.getElementById('sortButton'); // Get the sorting button element by ID
            if (isAscending) {
                button.textContent = 'Sort By Ascending'; // Change button text to indicate sorting order
                sortRows(true); // Call the sorting function for ascending order
            } else {
                button.textContent = 'Sort By Descending'; // Change button text to indicate sorting order
                sortRows(false); // Call the sorting function for descending order
            }
        }
        // Function to handle sorting
        function sortRows(ascending) {
            const tableRows = document.querySelectorAll('tbody tr'); // Get all table rows
            const sortedRows = Array.from(tableRows).sort((a, b) => {
                // Extract the data you want to sort by from table rows
                const dataA = extractData(a); // Replace extractData sort
                const dataB = extractData(b); // Replace extractData sort by
                
                // Compare the data based on ascending or descending order
                if (ascending) {
                    return dataA - dataB; // Sort by ascending order
                } else {
                    return dataB - dataA; // Sort by descending order
                }
            });
            // Clear the table body
            const tbody = document.querySelector('tbody');
            tbody.innerHTML = '';
            // Append sorted rows to the table body
            sortedRows.forEach(row => {
                tbody.appendChild(row);
            });
        }
        // Function to extract data from table rows (Replace this with your own function)
        function extractData(row) {
            // Example: Extract data from the first cell of each row
            return parseFloat(row.cells[0].textContent.trim());
        }
        // Call the sorting function initially to sort the rows by default in ascending order
        sortRows(true);
    </script>

    <style>
        /* Hide overflow and enable scrolling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
            overflow-x: auto; /* Enable horizontal scrolling */
            display: block; /* Enable overflow property */
        }
        
        /* Style table headers */
        th {
            background-color: #f2f2f2;
            text-align: left;
            padding: 8px;
        }
        
        /* Style table data cells */
        td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
        
        /* Set a maximum width for table cells */
        td, th {
            max-width: 200px; /* Adjust as needed */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; /* Display ellipsis for overflowing content */
        }

        button.update-btn {
            border: none;
            outline: none;
            background-color: #FB8B24; 
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 5px;
            transition: all ease 0.1s;
            box-shadow: 0px 5px 0px 0px #a29bfe;
        }
        
        /* Red Delete button styling */
        button.delete-btn {
            border: none;
            outline: none;
            background-color: #dc3545;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 700;
            color: #ffff;
            border-radius: 5px;
            transition: all ease 0.1s;
            box-shadow: 0px 5px 0px 0px #a29bfe;
        }

        button.sort-btn {
            border: none;
            outline: none;
            background-color: #6c5ce7;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 5px;
            transition: all ease 0.1s;
            box-shadow: 0px 5px 0px 0px #a29bfe;
        }

        button.activate-btn {
            border: none;
            outline: none;
            background-color: #90ee90;
            padding: 10px 20px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border-radius: 5px;
            transition: all ease 0.1s;
            box-shadow: 0px 5px 0px 0px #a29bfe;
        }

        # srach field
        .group {
            display: flex;
            line-height: 28px;
            align-items: center;
            position: relative;
            max-width: 250px;
          }
          
          .input {
            width: 100%;
            height: 40px;
            line-height: 28px;
            padding: 0 1rem;
            padding-left: 2.5rem;
            border: 2px solid transparent;
            border-radius: 8px;
            border-color: lightgray;
            background-color: #f3f3f4;
            color: #0d0c22;
            transition: 0.3s ease;
          }
          
          .input::placeholder {
            color: #9e9ea7;
          }
          
          .input:focus,
          input:hover {
            outline: none;
            border-color: rgba(247, 127, 0, 0.4);
            background-color: #fff;
            box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
          }

          {% comment %} // back button {% endcomment %}
          .button {
            display: inline-block;
            border-radius: 7px;
            border: none;
            background: #1875FF;
            color: white;
            font-family: inherit;
            text-align: center;
            font-size: 13px;
            box-shadow: 0px 14px 56px -11px #1875FF;
            width: 10em;
            padding: 1em;
            transition: all 0.4s;
            cursor: pointer;
           }
           
           .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.4s;
           }
           
           .button span:after {
            content: 'to home';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.7s;
           }
           
           .button:hover span {
            padding-right: 3.55em;
           }
           
           .button:hover span:after {
            opacity: 4;
            right: 0;
           }
    </style>
{% endblock %}