{% extends 'base.html' %}

{% block content %}
    {% comment %} <form method="POST" action="{% url 'save_data' table_name=table_name %}">
        {% csrf_token %}
        {% for field_name, field_type in field_details %}
            <label for="{{ field_name }}">{{ field_name }}</label>
            {% if field_type == 'CharField' %}
                <input type="text" name="{{ field_name }}">
            {% elif field_type == 'IntegerField' %}
                <input type="number" name="{{ field_name }}">
            {% elif field_type == 'DateField' %}
                <input type="date" name="{{ field_name }}">
            {% elif field_type == 'EmailField' %}
                <input type="email" name="{{ field_name }}">
            {% elif field_type == 'URLField' %}
                <input type="url" name="{{ field_name }}">
            {% elif field_type == 'TextField' %}
                <textarea name="{{ field_name }}"></textarea>
            {% endif %}
        {% endfor %}
        <input type="submit" value="Save">
    </form> {% endcomment %}
{% endblock %}