
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Your Project Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  </head>
  <body class="body">
    
    <section class="h-140 gradient-form" style="background-color: #eee;">
      <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-1 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-4 mx-md-4">
                    <div class="text-center">
                      <h4 class="mt-1 mb-4 pb-1">Food Share</h4>
                      <p>Please login to your account</p>
                    </div>
    
                    <form method="post" id="login-form" action="{% url 'admin_login' %}">
                      {% csrf_token %}
                      
                      <div class="form-row form-outline">
                        <div class="col">
                          <label for="id_email" class="required">Email</label>
                        </div>
                      </div>
                      <div class="form-row form-outline mb-4">
                          <div class="col">
                            <input class="form-control" type="text" name="email" autofocus autocapitalize="none" autocomplete="email" maxlength="150" required id="id_email">
                          </div>
                      </div>
                      
                      <div class="form-row form-outline">
                        <div class="col">
                          <label for="id_password" class="required">Password</label>
                        </div>
                      </div>
                      <div class="form-row form-outline mb-4">
                          <div class="col">
                            <input class="form-control" type="password" name="password" autocomplete="current-password" id="id_password" {% if invalid_login %}style="border-color: red;"{% endif %} required>
                            {% if invalid_login %}
                            <div class="text-danger">Something went wrong. Please try again.</div>
                            {% endif %}
                          </div>
                      </div>
    
                      <div class="submit-row p-md-4">
                        <b><input class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" value="Log In" style="background: linear-gradient(to right, #FB8B24, #E36414)"></b>
                      </div>
    
                      <div class="d-flex align-items-center justify-content-center pb-1">
                        <p class="mb-0 me-2">Forgot your password?</p>
                        <button type="button" class="btn btn-outline-danger">
                          <a href="{% url 'reset_password' %}" style="text-decoration: none; color: inherit;">Reset</a>
                        </button>
                      </div>
                    </form>
    
                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-top gradient-custom-2">
                  <div class="text-white">
                      <img src="https://thumbs.dreamstime.com/b/cartoon-food-donat%E2%80%A6x-poster-banner-vector-illustration-209771739.jpg" style="width: 462.5px;" alt="logo" />
                    <div class="text-center py-3 p-md-3 mx-md-3">  
                      <h4 class="mb-4">Waste Food Management System</h4>
                      <p class="small mb-3">Join our food donation system today! We believe in making a meaningful impact in our community. By donating food, you contribute to those in need and make a difference in their lives.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <style>
      .gradient-custom-2 {
        background: -webkit-linear-gradient(to right, #FB8B24, #E36414);
        background: linear-gradient(to right, #FB8B24,  #E36414);
      }
      
      @media (min-width: 768px) {
        .gradient-form {
          height: 100vh !important;
        }
      }
      
      /* Change button color */
      .btn-primary {
        background-color: orange; 
        border-color: orange;
        color: white;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
